#wrap {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

#blogTItle {
  text-align: center;
  cursor: pointer;
}

#second {
  display: flex;
  justify-content: space-between;
}

#secondR {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#like {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

#btnLike {
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  height: 300px;
}

.writer {
  font-size: 15px;
  font-weight: bold;
}

.commentAlert {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.commentList {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.commentUser {
  display: flex;
}

.userId {
  width: 100px;
  font-size: 15px;
  line-height: 35px;
}

.comment {
  line-height: 35px;
}

#commentForm {
  display: flex;
}
